allure-behave
allure-python-commons
behave
requests
pandas
openpyxl
asteval
Faker
attrs
certifi
charset-normalizer
idna
numpy
parse
parse-type
pip
pluggy
python-dateutil
pytz
setuptools
six
tzdata
urllib3
pandas
google-cloud-logging